Kategorien wählen

@@navbar
<form id="newsletter" method="post" action="@@action" style="text-align:left">
	
	<p>@@post_cat</p>
	<p><input type="submit" name="submit" value="Speichern" /></p>
	@@vars
</form>
