Info

@@navbar

<form id="newsletter" method="post" action="@@action" style="text-align:left">

	<p>Angemeldete Email: @@addr</p>
	<p>Mailtyp: @@format_type </p>
	<p>Zeitpunkt: @@interval</p> 
	<p>Abonierte Kategorien: @@post_cat_list</p>
	<p>Abonierte Kommentare (Kategorien): @@com_cat_list</p>
	<p>Abonierte Kommentare (Posts): @@com_post_list</p>
	
	<p>Hier Können sie sich abmelden: <input type="submit" name="unsubscribe" value="Abmelden" /></p>
	@@vars
</form>
