Abonnierte Kommentare verwalten

@@navbar
<form id="newsletter" method="post" action="@@action" style="text-align:left">

	Die Kommentare folgender Posts sind abonniert.
	<p>@@com_post</p>
	<p><input type="submit" name="submit" value="Speichern" /></p>
	@@vars
</form>
