<H2>Kommentare zu @@title abonnieren</H2>
<form id="newsletter" method="post" action="@@action" style="text-align:left">
<p>Bitte Email angeben: <input type="text" name="addr" size="30" maxlength="50" value="@@addr" /></p>
<p><input type="submit" name="submit" value="Absenden" /></p>
@@vars
</form>