Info

@@navbar

<form id="newsletter" method="post" action="@@action" style="text-align:left">

	<p>Subscription e-mail: @@addr</p>
	<p>Mail format: @@format_type </p>
	<p>Interval: @@interval</p> 
	<p>Subscribed categories: @@post_cat_list</p>
	<p>Subscribed comments (categories): @@com_cat_list</p>
	<p>Subscribed comments (posts): @@com_post_list</p>
	
	<p>You can unsubscirbe here: <input type="submit" name="unsubscribe" value="Abmelden" /></p>
	@@vars
</form>
