FManage comment subscriptions by post

@@navbar
<form id="newsletter" method="post" action="@@action" style="text-align:left">

	You have subscribed to the comments of the following posts
	<p>@@com_post</p>
	<p><input type="submit" name="submit" value="Speichern" /></p>
	@@vars
</form>
