Manage comment subscriptions by categorie

@@navbar
<form id="newsletter" method="post" action="@@action" style="text-align:left">
	
	Subscribe to commentes of the following categories
	
	<p>@@com_cat</p>
	<p><input type="submit" name="submit" value="Save" /></p>
	@@vars
</form>
