<p>Thank you for subscribing. <br \>
You will be sent an e-mail with a confirmation Link
With this link you can change your settings an choose which topics of @@blogname you 
want to subscribe to.</p>
